@import '../../styles.scss';

.mat-toolbar {
    background-color: #673ab7; // Deep Purple 500
    color: white; // Ajusta el color del texto según sea necesario
  }
  
  .navbar {
    background-color: #ffc107; // Amber A200
    color: white; // Ajusta el color del texto según sea necesario
  }