<footer class="footer-container">
    <div class="container">
      <!-- Información de contacto y ubicación -->
      <div class="row">
        <div class="col-md-6">
          <h2>Contacto</h2>
          <p>Ubicación: Castelar, Buenos Aires, Argentina</p>
          <p>Email: jpalegree@gmail.com</p>
          <p>Teléfono: +54 9 11 6591-6614</p>
        </div>
        <div class="col-md-6">
          <!-- Redes Sociales -->
          <!-- <h2>Redes Sociales</h2> -->
          <div class="social-icons">
            <!-- Añade los íconos de redes sociales -->
            <i class="bi bi-linkedin"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-github"></i>
            <!-- Agrega más según sea necesario -->
          </div>
        </div>
      </div>
  
      <!-- Atribución de derechos de autor -->
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">Educación en Acción - Sembrando semillas para el futuro de la Educación</p>
        </div>
      </div>
    </div>
  </footer>
  
