.footer-container {
    background-color: #333; // Color oscuro similar al de la navbar
    color: white; // Texto claro
    padding: 32px 0; // Espaciado interno para separar del contenido
  }
  
  .social-icons {
    font-size: 24px; // Tamaño de los íconos de redes sociales
    margin-top: 16px; // Espaciado superior para separar de la información de contacto
  }
  
  .social-icons i {
    margin-right: 16px; // Espaciado entre los íconos de redes sociales
  }
  
  .text-center {
    text-align: center; // Alinea el texto al centro
  }
  