<div class="experience-container">
  <h1 class="experience-title">Proyectos y Artículos Destacados</h1>
  <!-- Repite este bloque para cada proyecto -->
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <!-- Imagen del Proyecto -->
        <img src="../../assets/images/Colourful Fluid Together Foundation Logo (1).png" class="card-img-top" alt="Proyecto Imagen">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <!-- Título del Proyecto -->
          <h2 class="card-title">Educación en Acción</h2>
          <!-- Descripción del Proyecto -->
          <p class="card-text">Educación en Acción es un proyecto de transformación educativa que pone el foco en el docente, ofreciéndole un espacio para generar visivilidad e interacción con la comunidad y transformar en valor la experiencia, los proyectos y las formaciones que realiza.</p>
          <p class="card-text">Educación en Acción apunta a poner en valor la Calidad del trabajo docente y a volver a posicionarlo en el rol social fundamental que cumple en la formación intelectual y emocional de los futuros ciudadanos.</p>
          <!-- Enlace a Notion -->
          <a href="https://imminent-humerus-66b.notion.site/Educaci-n-en-Acci-n-b9546dd8e734483c9e58907e06679bfd" class="btn btn-primary">Ver más en Notion</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <!-- Imagen del Proyecto -->
        <img src="../../assets/images/IMG_20230628_124452.jpg" class="card-img-top" alt="Proyecto Imagen">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <!-- Título del Proyecto -->
          <h2 class="card-title">Alma de profe</h2>
  
          <!-- Descripción del Proyecto -->
          <p class="card-text">En la vida nos encontramos ejerciendo una profesión, llevando adelante un rol o cumpliendo una función que nos permite conectarnos con nuestra esencia. Entiendo que puede resultar abstracto, pero para quienes han tenido la gracia de percibir esta satisfacción estoy seguro que comprenden a lo que me refiero. La enseñanza no solo me ha brindado grandes satisfacciones a nivel personal; me ha permitido conocerme, formarme como persona y superarme. Creo firmemente que es necesario reivindicar este rol tan valioso para la sociedad.</p>
  
          <!-- Enlace a Notion -->
          <a href="https://www.google.com.ar/" class="btn btn-primary">Ver más en Notion</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <!-- Imagen del Proyecto -->
        <img src="../../assets/images/IMG-20181227-WA0057.jpg" class="card-img-top" alt="Proyecto Imagen">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <!-- Título del Proyecto -->
          <h2 class="card-title">Acadamia Parque Tenis</h2>
  
          <!-- Descripción del Proyecto -->
          <p class="card-text">Una semilla que crecio a base de esfuerzo y dedicación, ha sido un espacio de referencia en el crecimiento de muchos chicos. Hoy lo aprecio a la distancia y describo todos los aprendizajes que resultan de una aventura que se resume en crecer emprendiendo.</p>
  
          <!-- Enlace a Notion -->
          <a href="https://www.google.com.ar/" class="btn btn-primary">Ver más en Notion</a>
        </div>
      </div>
    </div>
  </div>
</div>
