.experience-container {
    margin: 32px 0; // Ajusta el margen general
    background-color: #f8f9fa; // Background tenue
    padding: 16px; // Añade un relleno para separar el contenido del borde
  }
  
  .experience-title {
        margin: 32px;
        font-size: 32px; // Tamaño del título
        color: #333; // Color del texto
  }
  