<div class="experience-container">
  <!-- Agrega el título principal -->
  <h1 class="experience-title">Proyectos y Artículos Destacados</h1>

  <!-- Repite este bloque para cada proyecto -->
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <!-- Imagen del Proyecto -->
        <img src="../../assets/images/Colourful Fluid Together Foundation Logo (1).png" class="img-fluid" alt="Proyecto Imagen">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <!-- Título del Proyecto -->
          <h2 class="card-title">Educación en Acción</h2>
  
          <!-- Descripción del Proyecto -->
          <p class="card-text">Descripción del proyecto...</p>
  
          <!-- Enlace a Notion -->
          <a href="https://imminent-humerus-66b.notion.site/Educaci-n-en-Acci-n-b9546dd8e734483c9e58907e06679bfd" class="btn btn-primary">Ver más en Notion</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <!-- Imagen del Proyecto -->
        <img src="../../assets/images/IMG_20230628_124452.jpg" class="img-fluid" alt="Proyecto Imagen">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <!-- Título del Proyecto -->
          <h2 class="card-title">Alma de profe</h2>
  
          <!-- Descripción del Proyecto -->
          <p class="card-text">Descripción del proyecto...</p>
  
          <!-- Enlace a Notion -->
          <a href="https://www.google.com.ar/" class="btn btn-primary">Ver más en Notion</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <!-- Imagen del Proyecto -->
        <img src="../../assets/images/IMG-20181227-WA0057.jpg" class="img-fluid" alt="Proyecto Imagen">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <!-- Título del Proyecto -->
          <h2 class="card-title">Acadamia Parque Tenis</h2>
  
          <!-- Descripción del Proyecto -->
          <p class="card-text">Descripción del proyecto...</p>
  
          <!-- Enlace a Notion -->
          <a href="https://www.google.com.ar/" class="btn btn-primary">Ver más en Notion</a>
        </div>
      </div>
    </div>
  </div>
</div>
