.container-title {
    margin: 32px;
    font-size: 32px; // Tamaño del título
    color: #333; // Color del texto
}

.card-title {
    font-size: 16px; /* Tamaño del título del artículo */
    color: #333; /* Color del texto del título */
    margin-bottom: 16px; /* Margen inferior para separar del texto */
  }