<div class="card">
    <div class="card-body">
      <!-- Mensajes / Referencias de la Comunidad -->
      <h2 class="container-title">Mensajes de la Comunidad</h2>
  
      <!-- Primer Mensaje -->
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Nazareno Avila - Ex alumno</h5>
          <p class="card-text">Orgulloso de tus logros profe, sos un gran educador y mejor persona aún. Te mando un abrazo enorme y espero que consigas todos los objetivos que te propongas.</p>
        </div>
      </div>
  
      <!-- Segundo Mensaje -->
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Sheila - Colega</h5>
          <p class="card-text">Nos conocemos hace muchos años, a través de la Escuela Modelo DEVON, y siempre es un placer trabajar con vos, porque sos profesional, porque tenés pasión por lo que haces y entusiasmo por hacer más y dejar huella en quienes pasan por tus enseñanzas!!!! Un placer haberte cruzado en este arduo pero gratificante camino..</p>
        </div>
      </div>
  
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Melina Benavidez - Docente y Pareja</h5>
          <p class="card-text">“El verdadero maestro es el maestro que inspira” Asi, tal cual sos vos… en todas tus formas, roles y profesiones… dejas huella en cada corazón que se cruza en tu camino, y doy fe de eso… Fiel ejemplo de que con dedicación y perseverancia todo se alcanza… Que todo lo lindo te abrace siempre!! Acá estamos nosotras para aplaudirte de pie por cada pasito hacia delante. Te amamos</p>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Juan Manuel Alegre - Hermano</h5>
          <p class="card-text">Habiendo compartido la mayoría de mi vida y la totalidad de la suya junto a Juan Pablo, puedo asegurar que ha sido, es y será un excelente hermano, hijo, estudiante, profesional, padre, compañero y por encima de todas las cosas un gran ser humano. Un abrazo y éxitos en esta nueva etapa.</p>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Santino Alvarez Campiti - Ex alumno</h5>
          <p class="card-text">Siendo ex alumno durante muchos años y muchas horas, puedo decir que Juampi es un excelente profesor a nivel educación física, que siempre se preocupa en que aprendas más y te puedas superar a nosotros mismos. A la vez, y en ese proceso de enseñanza, hace que te diviertas con cada juego o ejercicio que propone, y genera que todos esperen a tener su clase y compartir tiempo con él, ya que sobre todo es una gran persona, a la cual estoy muy feliz de haber cruzado en mi trayecto escolar, y con la que, por suerte, sigo teniendo contacto, pudiendo hablar de otras cosas de la vida. Además, estoy seguro de que también es un gran programador y que puede realizar cualquier cosa que se proponga en este ámbito, y en cualquier otro.</p>
        </div>
      </div>
      <!-- Repite este bloque para cada mensaje / referencia -->
    </div>
  </div>
