<div class="row resume-container">

  <h1 class="resume-title">Formación y Experiencia Profesional</h1> 

  <div class="col-md-6">
    <!-- Imagen de Experiencia -->
    <img src="../../assets/images/IMG_20220320_104110.jpg" class="img-fluid" alt="Experiencia Imagen">
  </div>
  <div class="col-md-6">
    <!-- Experiencia Destacada -->
    <h2>Experiencia Destacada</h2>
    <p>Descripción de la experiencia destacada...</p>

    <!-- Formación Principal -->
    <h2>Formación Principal</h2>
    <p>Descripción de la formación principal...</p>
  </div>
  
</div>
