<div class="row resume-container">

  <h1 class="resume-title">Formación y Experiencia Profesional</h1> 

  <div class="col-md-6">
    <!-- Imagen de Experiencia -->
    <img src="../../assets/images/IMG_20220320_104110.jpg" class="img-fluid" alt="Experiencia Imagen">
  </div>
  <div class="col-md-6">
    <h2>Experiencia Destacada</h2>
    <p>A lo largo de los años desempeñé en diversas labores y llevé adelante numerosos roles, me gustaría ofrecerte un resumen con los elementos más representativos de mi carrera profesional</p>
    <p>A los 20 años fundé mi primer emprendimiento deportivo, que comenzó siendo una escuela de tenis y se desarrolló como Academia años más tarde.
      Me especialicé en iniciación deportiva, aunque llevé adelante la gestión, el marketing, la planificación y la formación de jugadores de todas las franjas etáreas.
      Si bien actualmente ya no ejerzo como director, la Academia Parque Tenis continúa funcional y esa semilla aún continúa brindando frutos.
    </p>
    <p>Con 25 años me incorporé en la educación formal, trabajando como Profesor de Educación Física en dos Instituciones:
      La Escuela Modelo Devon, ubicada en Villa Luzuriaga; y el Colegio Mahatma Gandhi, de formación en Valores Humanos y ubicado en la localidad de Castelar, Buenos Aires.
    </p>
    <p>A los 30 años me desempeñé como Secretario de Educación Inicial dada mi formación en gestión, y llevé adelante la coordinación de las salidas propias del área de Vida en la Naturaleza, en la Escuela Modelo Devon</p>
    <p>Con 35 años decido hacer un cambio drástico y me inmerso en la industria tecnológica, incorporándome en la empresa IT4W, partner de Microsoft, en donde me desempeño actualmente como Programador</p>
    <h2>Formación Principal</h2>
    <p>Técnico Superior en Programación - Año 2024</p>
    <p>Licenciado en Gestión Educativa - Año 2020</p>
    <p>Profesor Nacional de Educación Física - Año 2011</p>
    <h2>Certificaciones</h2>
    <p>Microsoft Certified - Azure AI Fundamentals</p>
    <p>Microsoft Certified - Azure Fundamentals</p>
    <p>Android Developer Engineer - EducaciónIT</p>
    <p>Java Developer - Bootcamp Academia Kodigo</p>
    <p>Diplomado en Tecnología aplicada a la Educación - UFASTA</p>
  </div>
  
</div>
