<div class="row home-container">
  <div class="col-md-6">
    <!-- Izquierda: Nombre y Descripción -->
    <h1>Juan Pablo Alegre</h1>
    <p>Hola!
      <br>
      Aprecio mucho que dediques este tiempo en conocerme.
      <br>
      Te cuento que soy Programador de profesión, Educador de vocación y Emprendedor de corazón.
      <br>
      Tengo 36 años, vivo en Buenos Aires, y actualmente me encuentro enfocado en desarrollar soluciones que implementen Inteligencia Artificial en los proyectos que llevo adelante.
      <br>
      Trabajé muchos años en docencia y es sin duda un rol que adoro; motivo por el cual tomé la decisión de aportar mi grano de arena fundando el proyecto "Educación en Acción".
      <br>
      Te invito a conocer este proyecto a conocerme a través de un repaso por los fragmentos más destacados de mi vida profesional.
      <br>
      Espero que disfrutes tu visita y que te encuentres con algo que te inspire a seguir aprendiendo.
      <br>
      Estaré encantado de conocerte también y entablar nuevos proyectos y relaciones, no dudes en contactarme.
      <br>
    </p>
  </div>
  <div class="col-md-6">
    <!-- Derecha: Carrousel de Imágenes -->
    <div id="carouselExample" class="carousel slide mx-auto" data-bs-ride="carousel" style="width: 500px;">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let image of images; let i = index" [class.active]="i === currentImageIndex">
          <img [src]="image" class="d-block w-100 img-fluid" alt="Imagen {{ i + 1 }}">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" (click)="prevImage">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" (click)="nextImage">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
